language: ruby
rvm:
  - 2.1.0
  - 2.1.1
  - 2.1.2
  - 2.1.3
  - 2.1.4
  - 2.1.5
  - 2.1.6
  - 2.1.7
  - 2.2.8
  - 2.2.9
  - 2.2.10
  - 2.2.1
  - 2.2.2
  - 2.2.3
  - 2.2.4
  - 2.3.0
  - 2.3.1

before_install:
  - gem update --system
  - gem update bundler

notifications:
  email: false
